Flask~=3.0.2
python-dotenv~=1.0.1
bootstrap-flask
Flask-APScheduler
flask-avatars
invoke~=2.2.0
bcrypt==4.1.2
APScheduler~=3.10.1
httpx==0.27.0
rich==13.7.1
rlp==4.0.0
cryptography==42.0.5
aiomultiprocess~=0.9.0
web3~=6.15.1
aiohttp~=3.9.3
psutil
gputil
segno~=1.6.1
pillow~=10.2.0
diffusers~=0.27.2
transformers~=4.39.0
accelerate
## pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
numpy~=1.26.4