<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Your page title</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ url_for('home') }}">extraGPU</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <style>
              nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                color: black;
              }
              nav li {
                float: left;
              }
              nav li a {
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
              }
            </style>
          <div>
            <ul>
<!--                <li><a href="#">Home</a></li>-->
                <li><a href="{{ url_for('get_profile') }}">Profile</a></li>
<!--                <li><a href="#">Services</a></li>-->
<!--                <li><a href="#">Contact</a></li>-->
            </ul>
          </div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class='fa fa-bell' style='font-size:24px'></i>
                  </a>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class='fa fa-user-circle' style='font-size:25px'></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="dropdown-divider"></div>
<!--                  <a class="nav-link" href="#">Install</a>-->
                  <a class="nav-link" href="#">Profile</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}

    <footer class="bg-light text-center text-lg-start">
    <small>Copyright &copy;2024. extraGPU Team All rights reserved.</small>
    </footer>

    </body>
</html>